/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
html, body  {width:100%;}
body, p  {margin:0;padding:0;}

.item {background:#eee;width:200px;height:200px;float:left;margin:0 5px 5px 0;position: relative;}

.info {display:none;position: absolute;bottom:0;left:0;background:rgba(0,0,0,0.5	);width:100%;color:#fff;}
.info .inner {padding:5px;}

/*#container  {background:salmon;position: relative;}
#container:hover .info {display: block;}
.info {display:none;position:absolute;bottom:0;left:0;background:rgba(0,0,0,0.6);color:#fff;width:100%;}
.info .inner  {padding:5px;}*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


